<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="results-list">

                        <div class="col-xs-12" style="padding: 5px; margin-bottom: 10px;">
                            <div class="col-xs-12"><h4>Foto time</h4></div>
                        </div>

                        <div>
                            <video id="video" autoplay height="360" width="640" style="display: block; margin: 0 auto;"></video>
                        </div>

                        <div style="margin: 10px auto; width: 622px; height: 50px;">
                            <button class="btn btn-primary btn-lg" id="snap" ng-click="register()" style="display: inline-block; float: right;">
                                <span id="snap-take-photo">Registrar</span>
                                <span id="snap-loading" style="display: none;">Loading</span>
                            </button>
                            <button class="btn btn-warning btn-lg" id="snap" ng-click="recognize()" style="display: inline-block; float: right; margin-right: 10px;">
                                <span id="snap-take-photo">Reconocer</span>
                                <span id="snap-loading" style="display: none;">Loading</span>
                            </button>
                        </div>
                        <div style="margin-top: 10px; text-align: left;" class="form-group" id="thumbnails">
                            <div ng-repeat='photo in photos' id="group-{{ photo.id }}" ng-style="photo.thumbnailImage" class="photo-group" style="display: inline-block; margin: 0 5px; position: relative;">
                                <img id="thumbnail-{{ photo.id }}" ng-src="data:image/jpeg;charset=utf-8;base64,{{ photo.image.fullImage }}" width="{{ photo.thumbnailImage.width }}" height="{{ photo.thumbnailImage.height }}"/>
                            </div>
                        </div>
                        <div id="imageContainer" style="display: none;">
                        </div>
                        {{ photos }}
                    </div>
                </div>
            </div>
        </div>
    </div>