<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="results-list">

                        <div class="col-xs-12" style="padding: 5px; margin-bottom: 10px;">
                            <div class="col-xs-12"><h4>Foto time</h4></div>
                        </div>

                        <div>
                            <video id="video" autoplay height="350" width="622" style="display: block; margin: 0 auto;"></video>
                        </div>

                        <div style="margin: 10px auto; width: 622px;">
                            <button class="btn btn-primary btn-lg" id="snap" disabled="disabled" style="display: inline-block; float: right;">
                                <span id="snap-take-photo">Subir foto</span>
                                <span id="snap-loading" style="display: none;">Loading</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>